@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  @apply text-sm;
  @apply bg-gray-500;
  @apply text-gray-900;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 20vh);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-template-rows: repeat(8, 7.5vh);
  }
}

::-webkit-scrollbar {
  width: 3px; /* Adjust scrollbar width */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track background color */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: hsl(var(--twc-purple-600) / var(--twc-purple-600-opacity, var(--tw-text-opacity))); /* Scrollbar color */
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: hsl(var(--twc-purple-600) / var(--twc-purple-600-opacity, var(--tw-text-opacity))); /* Scrollbar color on hover */
}